<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="author" content="https://wangtongphp.github.io" />
<script src="//apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="//apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-utf8-base64/0.0.5/angular-utf8-base64.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
<!--
-->
<script type="text/javascript">
angular.module('wangtongphp', ['ngRoute','ab-base64'])
.filter('trustAsHtml',function($sce){
    return function(input){
        return $sce.trustAsHtml(input);
    }
})
.filter('substr3',function(){
    return function(input){
        if(!!input && input.substr(input.length-3)=='.md'){
            return input.substr(0,input.length-3);
        }
        else{
            return input; 
        }
    }
})
.filter('pUrl',function(base64){
    return function(input){
        //$rootScope.url = input.url;
        console.log('pUrl',input);
        if(!!input && input.type=='dir'){
            return '#/list/'+base64.encode(input.url);
        }
        else{
            return '#/info/'+base64.encode(input.url);
        }
    }
})
.controller('HomeController', function ($scope,$http, $route) { 
    $scope.$route = $route;
    $http.defaults.headers.common.Authorization = ' token daa4dd03a6efec74044fb3f472bf946a03c6194c';
    //"https://api.github.com/repos/wangtongphp/wangtongphp.github.io/contents/source/?ref=master"
    $http.get("https://api.github.com/repositories/51814842/contents/source")
        .success(function (response) {
            $scope.list= response;
        });
    //$rootScope.dir="";
})
.controller('ListController', function ($scope,$http, $route, $routeParams,base64) { 
    $scope.$route = $route;
    console.log($routeParams);
    $http.defaults.headers.common.Authorization = ' token daa4dd03a6efec74044fb3f472bf946a03c6194c';
    //"https://api.github.com/repos/wangtongphp/wangtongphp.github.io/contents/source/"+$routeParams.url+"?ref=master"
    $http.get(base64.decode($routeParams.url))
        .success(function (response) {
            $scope.list= response;
        });
    //$rootScope.dir=$routeParams.url;
})
.controller('InfoController', function ($scope, $http, $route, $routeParams, base64) { 
    $scope.$route = $route;
    console.log($routeParams,base64.decode($routeParams.url));
    $http.defaults.headers.common.Authorization = ' token daa4dd03a6efec74044fb3f472bf946a03c6194c';
    //'https://api.github.com/repos/wangtongphp/wangtongphp.github.io/contents/source/'+$routeParams.url
    $http.get(base64.decode($routeParams.url))
        .success(function (response) {
            $scope.info = response;
            $scope.info.content = markdown.toHTML(base64.decode($scope.info.content), 'Maruku')
        });
})
.config(function ($routeProvider) {
    $routeProvider.
    when('/home', {
        templateUrl: 'embedded.home.html',
        controller: 'HomeController'
    }).
    when('/list/:url', {
        templateUrl: 'embedded.list.html',
        controller: 'ListController'
    }).
    when('/info/:url', {
        templateUrl: 'embedded.info.html',
        controller: 'InfoController'
    }).
    otherwise({
        redirectTo: '/home'
    });
});
</script>
</head>

<body ng-app="wangtongphp" class="ng-scope">
  <script type="text/ng-template" id="embedded.home.html">
    <h1> Home </h1>
    <ul>
        <li ng-repeat="x in list" > <a ng-href="{{x | pUrl}}"> {{x.name | substr3 }}</a> </li>
    </ul>
  </script>

  <script type="text/ng-template" id="embedded.list.html">
    <h1> List </h1>
    <ul>
        <li ng-repeat="x in list" > <a  ng-href="{{x | pUrl}}" > {{x.name | substr3 }}</a> </li>
    </ul>
  </script>

  <script type="text/ng-template" id="embedded.info.html">
      <h1> {{ info.name | substr3 }} </h1>
        <div id="content" ng-bind-html="info.content | trustAsHtml"></div>
  </script>

  <div> 
    <div id="navigation">  
        <a href="#/home">Home</a>
    </div>
      
    <div ng-view="">
    </div>
  </div>
</body>
</html>






<!--
框架介绍: https://github.com/wangtongphp/wangtongphp.github.io/blob/master/source/PHP/github.io%E5%8D%9A%E5%AE%A2%E7%9A%84%E6%80%9D%E8%80%83.md 
-->
